    <footer>
        <section class="redes">
            <h3>SEGUINOS EN NUESTRAS REDES</h3>
            <div>
                <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
                <a href="http://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
                <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>clickplayers © 2020</p>
        </section>
    </footer>