<header>
  <section class="section-header">
    <a href="/"><img class="logo" src="/images/logo-clickplayers.png"></a>
    <form action="/products">
        <input class="sombra" type="search" id="search" name="nombre" placeholder="Buscar producto, marca o vendedor"/>
    </form>
    <div class="carrito-header sombra">
        <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </section>

  <nav class="sombra">
      <% if (typeof locals.user == "undefined") { %> 
          <a href='/'>HOME</a>
          <a href='/auth/ingresar'>INGRESAR</a>
          <a href='/products'>PRODUCTOS</a>
          <a href='/auth/registrar'>REGISTRAR</a>
          <a href='/contacto'>CONTACTO</a>
      <% } else { %> 
          <a href="/auth/perfil">Bienvenido <%= locals.user %></a>
          <a href='/products/carrito'>CARRITO</a>
          <a href='/products'>PRODUCTOS</a>
          <a href='/contacto'>CONTACTO</a>
          <a href='/auth/logout'>CERRAR SESION</a>
      <% } %> 
  </nav>


  <div class="menu">
    <i class="fas fa-bars burguer sombra"></i>
  </div>
</header>