<%- include('partials/head') %>
    <%- include('partials/header') %>

    <main>
      <h1>INFORMACIÓN DE CONTACTO</h1>
      <h2>Déjanos tus datos y te contactáremos lo mas rápido posible</h2>
      <form>
          <p><input type="text" id="name" name="name" placeholder="Nombre"></p>
          <p><input type="email" id="email" name="email" placeholder="Email"></p>
          <textarea cols="40" rols="10" placeholder="Escribe tu consulta aquí"></textarea>
          <p><button type="submit">Enviar</button>
          <button type="reset">Borrar</button></p>
      </form>
    </main>

    <%- include('partials/footer') %>