<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href="/styles/contacto.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>Click Players | Contacto</title>
    </head>
    <body>
        <header>
            <a href="/"><img class="logo" src="/images/logo-clickplayers.png"></a>
            <input type="search" id="search" placeholder="Buscar producto, marca o vendedor"/>
            <div class="carrito-header">
                <i class="fas fa-shopping-cart"></i>
            </div></a>
        </header>
        <nav>
            <div class="nav">
                <a href='/'><h3>HOME</h3></a>
                <a href='/login'><h3>INGRESA</h3></a>
                <a href='/productDetail'><h3>PRODUCTOS</h3></a>
                <a href='/register'><h3>REGISTRAR</h3></a>
                <a href='/contacto'><h3>CONTACTO</h3></a>
            </div>
        </nav>
        <main>
            <h1>INFORMACION DE CONTACTO</h1>
            <h2>Déjanos tus datos y te contactáremos lo mas rápido posible</h2>
            <form>
                <input type="text" id="name" name="name" placeholder="Nombre">
                <input type="email" id="email" name="email" placeholder="Email">
                <textarea cols="40" rols="10" placeholder="Escribe tu consulta aquí"></textarea>
            </form>
            <form class="botones">
                <button type="submit">ENVIAR</button>
                <button type="reset">BORRAR</button></p>
            </form>
        </main>
        <footer>
            <section class="redes">
                <h3>SEGUINOS EN NUESTRAS REDES</h3>
                <div>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
                <p>Copyright © 2020 clickplayers S.R.L.</p>
            </section>
        </footer>
    </body>
</html>