<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "styles/header-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body class="bg-principal">
    <header>
        <div class="d-flex">
            <img class="radius-5 logo"src = 'images/clickplayers-logo.jpg' alt = ''>
            <input type="search" class="radius-10 buscador bg-verdeclaro" placeholder="Buscar producto, marca o vendedor" name="buscador">
            <div class="changuito d-flex radius-5">
                <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
            <nav>            
                 <ul class="d-flex barra-nav radius-10 bg-main">
                    <li class="nav-linea">
                        <a href = 'login'>Ingresa</a>
                    </li>
                    <li class="nav-linea">
                        <a href = '/'>Productos</a>
                    </li>
                    <li class="nav-linea">
                        <a href = '/'>Marcas</a>
                    </li>
                    <li class="nav-linea">
                        <a href = '/'>Accesorios</a>
                    </li>
                    <li>
                        <a href = '/'>Descuentos</a>
                    </li>
                </ul>
            </nav>
    </header>
    <main>









        
    </main>
    <footer class="bg-verdeclaro d-flex radius-10 mt-20">
        <article class="footer">
            <div class=" fw-bolder">
                Lo más buscado
            </div>
            <nav>            
                <ul>
                   <li class="nav-linea">
                       <a href = 'login'>Ingresa</a>
                   </li>
                   <li>
                       <a href = '/'>Computadoras armadas</a>
                   </li>
                   <li>
                       <a href = '/'>Marcas</a>
                   </li>
                   <li>
                       <a href = '/'>Notebooks</a>
                   </li>
                   <li>
                       <a href = '/'>Periféricos</a>
                   </li>
               </ul>
           </nav>
        </article>
        <article  class="fw-bolder">
                Seguinos en nuestras redes
        </article>
        <article class="footer">
                <div class="fw-bolder">Cualquier duda o sugerencia no dudes en contactarnos:</div> 
                <div>
                    <i class="far fa-envelope bg-principal"></i>  clickplayers@contacto.com
                </div>
        </article>

        <div>
            <p id='copyright'>Copyright © 2020 clickplayers S.R.L.</p>
        </div>
    </footer>
</body>
</html>