<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "styles/header-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body class="bg-principal">
    <header>
        <div class="d-flex">
            <a href="/"><img class="radius-5 logo"src = '../images/clickplayers-logo.jpg' alt = ''></a>
            <input type="search" class="radius-10 buscador bg-verdeclaro" placeholder="Buscar producto, marca o vendedor" name="buscador">
            <div class="changuito d-flex radius-5">
                <a href="carrito"><i class="fas fa-shopping-cart"></i></a>
                <div><a href="carrito">0</a>
                </div>
            </div>
        </div>
        <nav class="d-flex barra-nav radius-10 bg-main sombra">

            <a href = '/' class="separador-nav">Home</a>
            <a href = 'login' class="separador-nav">Ingresar</a>
            <a href = 'productCart' class="separador-nav">productos</a>
            <a href = 'register' class="separador-nav">Registro</a>
            <a href = '/'>contacto</a>
</nav>
    </header>
    <main>
    
    </main>
    <footer class="bg-verdeclaro d-flex d-wrap radius-10 mtopbottom-10">
        <article class="footer">
            <div class=" fw-bolder">
                Lo más buscado
            </div>
            <nav class="d-flex barra-nav radius-10 bg-main">
                    
                <a href = 'login' class="separador-nav">Ingresa</a>
                <a href = 'register' class="separador-nav">Registrate</a>
                <a href = '/' class="separador-nav">Marcas</a>
                <a href = '/' class="separador-nav">Accesorios</a>
                <a href = '/'>Descuentos</a>
    </nav>
        </article>
        <article  class="fw-bolder">
                Seguinos en nuestras redes
        </article>
        <article class="footer">
                <div class="fw-bolder">Cualquier duda o sugerencia no dudes en contactarnos:</div> 
                <div>
                    <i class="far fa-envelope bg-principal"></i>  clickplayers@contacto.com
                </div>
        </article>

        <div>
            <p id='copyright'>Copyright © 2020 clickplayers S.R.L.</p>
        </div>
    </footer>
</body>
</html>