<%- include('partials/head') %>
    <%- include('partials/header') %>

    <div class="banner-principal">
        <img class = "radius-10"src ='images/banner-1.jpg' alt = ""/>
    </div>
    <main class="mtopbottom-10 bg-main radius-10 p-20 sombra">
        <div class="titulo">
            <p>Nuestros productos más vendidos:</p>
        </div>
        <section class="d-flex">
            <article class="contenedor-producto sombra">
                <a href="/products/detalle/1">
                    <div class="producto">
                        <img src ='/images/products/ryzen-5.png' alt = ""/>
                    <div class="van">
                        <p class="precio-producto">$ 12.500</p>
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>
                        <p class="descripcion-producto">Procesador AMD RYZEN 5 1600f 3.20Ghz</p>
                    </div>
                </a>
                </div>
            </article>
            <article class="contenedor-producto sombra">
                <a href="products/detalle/10">
                    <div class="producto">
                        <img src ='/images/products/rx-5500-xt.png' alt = ""/>
                    <div class="van">
                        <p class="precio-producto">$ 33.000</p>
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>
                        <p class="descripcion-producto">Placa de video AMD RX 5500 XT 8 Gb GDDR6</p>
                    </div>
                </a>
            </article>
            <article class="contenedor-producto sombra">
                <a href="/products/detalle/3">
                    <div class="producto">
                        <img src ='/images/products/core-i3-9100f.png' alt = ""/>
                    
                    <div class="van">
                        <p class="precio-producto">$ 8.500</p>
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>
                        <p class="descripcion-producto">Procesador Intel core i3-9100F 4.2 Ghz turbo</p>
                    </div>
                </a>
            </article>
        </section>
        <div class="boton d-flex">
            <a href="/products">Mirá todos nuestros productos</a>
        </div>
        <section class="formas-de-pago">
            <div class="sombra d-flex">
                <a href = '/'><i class="fas fa-credit-card footer-images borde"></i>Pagá con tarjeta</a>
                <a href = '/'><i class="far fa-handshake borde"></i>MercadoPago</a>
                <a href = '/'><i class="far fa-money-bill-alt"></i>En efectivo</a>
            </div>
        </section>
    </main>


    <%- include('partials/footer') %>