<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clickplayers</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "styles/header-footer.css">
    <link rel = "stylesheet" href = "styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body class="bg-principal">
    <header>
        <div class="d-flex">
            <img class="radius-5 logo"src = 'images/clickplayers-logo.jpg' alt = ''>
            <input type="search" class="radius-10 buscador bg-verdeclaro" placeholder="Buscar producto, marca o vendedor" name="buscador">
            <div class="changuito d-flex radius-5">
                <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
            <nav class="d-flex barra-nav radius-10 bg-main">
                    
                        <a href = 'login'>Ingresa</a>
                        <a href = '/'>Productos</a>
                        <a href = '/'>Marcas</a>
                        <a href = '/'>Accesorios</a>
                        <a href = '/'>Descuentos</a>
            </nav>
    </header>
    <div class="d-flex banner-principal">
        <img class = "radius-10"src ='images/banner-1.jpg' alt = ""/>
    </div>
    <main class="mtopbottom-10 bg-main radius-10 p-20">

        <div class="titulo">
            Nuestros productos más vendidos:
        </div>
        <section class="d-flex">
            <article>
                <div class="radius-10 bg-product producto"><img src ='images/promo-ryzen5-disco.jpg' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van"></i>
                    </div>
                    <div>$ 17.770</div>
                    <div>Kit Procesador AMD RYZEN 5 2600 3.90Ghz</div>
            </article>
            <article>
                <div class="radius-10 bg-product producto"><img src ='images/promo-ryzen5-disco.jpg' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van"></i>
                    </div>
                    <div>$ 17.770</div>
                    <div>Kit Procesador AMD RYZEN 5 2600 3.90Ghz</div>
            </article>
            <article>
                <div class="radius-10 bg-product producto"><img src ='images/promo-ryzen5-disco.jpg' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van"></i>
                    </div>
                    <div>$ 17.770</div>
                    <div>Kit Procesador AMD RYZEN 5 2600 3.90Ghz</div>
            </article>
        </section>
        <div class="titulo d-flex radius-10 bg-product">
            <a href = '/'>Pagá con tarjeta</a>
            <a href = '/'>En efectivo</a>
            <a href = '/'>MercadoPago</a>
        </div>

    </main>
    <footer class="bg-verdeclaro d-flex d-wrap radius-10 mtopbottom-10">
        <article class="footer">
            <div class=" fw-bolder">
                Lo más buscado
            </div>
            <nav>            
                <ul>
                   <li class="nav-linea">
                       <a href = 'login'>Ingresa</a>
                   </li>
                   <li>
                       <a href = '/'>Computadoras armadas</a>
                   </li>
                   <li>
                       <a href = '/'>Marcas</a>
                   </li>
                   <li>
                       <a href = '/'>Notebooks</a>
                   </li>
                   <li>
                       <a href = '/'>Periféricos</a>
                   </li>
               </ul>
           </nav>
        </article>
        <article  class="fw-bolder">
                Seguinos en nuestras redes
        </article>
        <article class="footer">
                <div class="fw-bolder">Cualquier duda o sugerencia no dudes en contactarnos:</div> 
                <div>
                    <i class="far fa-envelope bg-principal"></i>  clickplayers@contacto.com
                </div>
        </article>

        <div>
            <p id='copyright'>Copyright © 2020 clickplayers S.R.L.</p>
        </div>
    </footer>
</body>
</html>