<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click Player | Login to your account</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header class="radius-10 sombra">
        <a href='/'><h3>HOME</h3></a>
        <a href='/login'><h3>INGRESA</h3></a>
        <a href='/productDetail'><h3>PRODUCTOS</h3></a>
        <a href='/register'><h3>REGISTRAR</h3></a>
        <a href='/contact'><h3>CONTACTO</h3></a>
    </header>
    <main class="d-flex">
        <form action="/" method="POST" class="form-container">
            <div class="logo-container d-flex"><img src="images/logo-clickplayers.png" alt="Logo del sitio"></div>
            <h1>Ingresá a tu cuenta</h1>

            <div class="login-container">
                <input type="email" placeholder="Ingresá tu Email" required>
                <input type="password" placeholder="Escribí tu contraseña" id="password" required>
                <button>Sign in with Google</button>
            </div>

            <div class="help d-flex">
                <div class="w-50">
                    <input type="checkbox" name="remember" id="remember" value="remember">
                    <label for="remember">Recordarme</label>
                </div>
                <a class="w-50" href="#">Olvidé mi contraseña</a>
            </div>

            <button type="submit">INGRESAR</button>
        </form>
    </main>
    <footer class="radius-10 sombra">
        <section class="redes ">
            <h3>SEGUINOS EN NUESTRAS REDES</h3>
            <div class="d-flex redes-logos">
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
            </div>
            <p>Copyright © 2020 clickplayers S.R.L.</p>
        </section>
    </footer>
</body>
</html>