<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href="../public/styles/producto.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>clickplayers</title>
    </head>
    <body>
        <header>
            <img class="logo" src="../public/images/logo-clickplayers.png">
            <input type="search" id="search" placeholder="Buscar producto, marca o vendedor"/>
            <div class="carrito-header">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </header>
        <nav>
            <div class="nav">
                <a href='#'><h3>INGRESA</h3></a>
                <a href='#'><h3>PRODUCTOS</h3></a>
                <a href='#'><h3>MARCAS</h3></a>
                <a href='#'><h3>ACCESORIOS</h3></a>
                <a href='#'><h3>DESCUENTOS</h3></a>
            </div>
        </nav>
        <main>
            <article class="articulo">
                    <img src="../public/images/pc-gamer.jpg">
            </article>
            <div>
                <p>PC Gamer Ultra 4K</p>
                <p>Precio: USD 1200</p>
                <p>Descripción: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis fugiat harum excepturi molestiae aliquid laudantium unde atque quas similique ullam illo quasi odio commodi, porro eos quisquam magnam dolor odit!</p>
                <p><button type="submit">COMPRAR</button>
            </div>
        </main>
        <footer>
            <section class="redes">
                <h3>SEGUINOS EN NUESTRAS REDES</h3>
                <div>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
                <p>Copyright © 2020 clickplayers S.R.L.</p>
            </section>
        </footer>
    </body>
</html>