<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href="/styles/register.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>Click Players | Registrate</title>
    </head>
    <body>
        <header>
            <a href='/'><h3>HOME</h3></a>
            <a href='/login'><h3>INGRESA</h3></a>
            <a href='/productDetail'><h3>PRODUCTOS</h3></a>
            <a href='/register'><h3>REGISTRAR</h3></a>
            <a href='/contacto'><h3>CONTACTO</h3></a>
        </header>
        <main>
            <div class="logo">
                <img src="/images/logo-clickplayers.png">
            </div>
            <div>
                <h1>Crea tu cuenta de usuario:</h1>
            </div>
            <form>
                <p><input type="text" id="name" name="name" placeholder="Nombre y apellido"></p>
                <p><input type="email" id="email" name="email" placeholder="Email"></p>
                <p><input type="password" id="password" name="password" placeholder="Contrase&ntilde;a"></p>
                <p><input type="password" id="password" name="password" placeholder="Confirmar contrase&ntilde;a"></p>
                <p><button type="submit">REGISTRAR</button>
                <button type="reset">CANCELAR</button></p>
            </form>
        </main>
        <footer>
            <section class="redes">
                <h3>SEGUINOS EN NUESTRAS REDES</h3>
                <div>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
                <p>Copyright © 2020 clickplayers S.R.L.</p>
            </section>
        </footer>
    </body>
</html>