
main{
    display: flex;
    flex-direction: row;

    background-color: #3d8c95;
    border-radius: 5px;
    border: 0px;
    margin-top: 20px;


}

.boton {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: #2E3047;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.articulo img{
    width: 320px;
    height: 320;
    margin: 20px;
    border-radius: 5px;
}