:root {
    --main-bg-color: #2E3047; 
    --light-green: #3BBA9C;
    --dark-green:  #3D8C95;
    --dark-grey: #43455C;
    --white: #b8bbc9;
    --bg-container: #707793;
}

.m-20 { margin: 20px;}
.a-center { align-items: center;}

main h1{
    font-size: 40px;
    color: var(--white);
    margin-bottom: 40px;
}

main form{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

div.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

div.field p {
    text-align: left;
}

form label {
    color: var(--white);
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
}

main input, main textarea{
    width: 400px;
    height: 40px;
    margin: 0px 15px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--white);
    font-size: 25px;
    padding-left: 10px;
}

main textarea{
    resize: none;
    height: 150px;
}

form input[type="file"]{
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
}

.google{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    height: 40px;
    font-weight: 500;
    color: black;
    background-color: white;
    align-items: center;
}
.google img{
    width: 70px;
    height: 22.84px;
    margin-top: 2px;
    margin-left: 5px;
}

main button{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--dark-green);
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.imagen-editor {
    width: 330px;
    height: 330px;
    margin: 20px ;
    background-color: var(--white);
    border-radius: 5px;
}
.imagen-editor img {
    border-radius: 5px;
    margin: 15px;
    width: 300px;
    height: 300px;
}

.form-buttons {
    margin-top: 20px;
    align-items: center;
}

.error {
    color: rgba(255, 0, 0, 0.75);
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    word-wrap: break-all;
    width: 400px
}

main select {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 10px;
    margin: 0px 15px;
    background-color: var(--white);
    color: var(--main-bg-color);
}

.remember {
    color: var(--white);
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

#check {
    display: none;
}

.check-track {
    display: flex;
    align-items: center;
    padding: 0 3px;
    width: 56px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--white);
    cursor: pointer;
    transition: 120ms ease-out;
}

.check-track_indicator {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--dark-grey);
    transition: 120ms ease-out;
    margin-top: -1px;
}

#check:checked + .check-track {
    background-color: var(--dark-green);
}

#check:checked + .check-track .check-track_indicator {
    transform: translateX(30px);
}

.success { border: 2px solid green}
.err {border: 2px solid red}