:root {
    --main-bg-color: #2E3047; 
    --light-green: #3BBA9C;
    --dark-green:  #3D8C95;
    --dark-grey: #43455C;
    --white: #b8bbc9;
    --bg-container: #707793;
}  

.error {
    list-style: none;
    color:var(--light-green);
    border: solid;
    border-color: rgba(255, 73, 66, 0.3);
    border-radius: 5px;
}
main h1{
    font-size: 40px;
    color: var(--white);
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--white);
    font-size: 25px;
    padding-left: 10px;
}

main button{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--dark-green);
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}