<footer>
    <section class="redes">
        <h3>SEGUINOS EN NUESTRAS REDES</h3>
        <div>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <p>clickplayers © 2020</p>
    </section>
</footer>