<header>
  <section class="section-header">
    <img class="logo" src="/images/logo-clickplayers.png">
    <input type="search" id="search" placeholder="Buscar producto, marca o vendedor"/>
    <div class="carrito-header">
        <i class="fas fa-shopping-cart"></i>
    </div>
  </section>
  <nav>
      <a href='/'>HOME</a>
      <a href='/users/ingresar'>INGRESAR</a>
      <a href='/users/productos'>PRODUCTOS</a>
      <a href='/users/registrar'>REGRISTRAR</a>
      <a href='/users/contacto'>CONTACTO</a>
  </nav>
</header>