<header>
  <section class="section-header">
    <a href="/"><img class="logo" src="/images/logo-clickplayers.png"></a>
    <input type="search" id="search" placeholder="Buscar producto, marca o vendedor"/>
    <div class="carrito-header">
        <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </section>
  <nav>
      <a href='/'>HOME</a>
      <a href='/auth/ingresar'>INGRESAR</a>
      <a href='/products'>PRODUCTOS</a>
      <a href='/auth/registrar'>REGISTRAR</a>
      <a href='/contacto'>CONTACTO</a>
  </nav>
</header>