<header>
  <section class="section-header">
    <img class="logo" src="/images/logo-clickplayers.png">
    <input type="search" id="search" placeholder="Buscar producto, marca o vendedor"/>
    <div class="carrito-header">
        <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </section>
  <nav>
      <a href='/'>HOME</a>
      <a href='/auth/ingresar'>INGRESAR</a>
      <a href='/auth/productos'>PRODUCTOS</a>
      <a href='/auth/registrar'>REGISTRAR</a>
      <a href='/auth/contacto'>CONTACTO</a>
  </nav>
</header>