<%- include('partials/head') %>
    <%- include('partials/header') %>

    <div class="d-flex banner-principal">
        <img class = "radius-10"src ='images/banner-1.jpg' alt = ""/>
    </div>
    <main class="mtopbottom-10 bg-main radius-10 p-20 sombra">

        <div class="titulo">
            Nuestros productos más vendidos:
        </div>
        <section class="d-flex">
            <a href="/products/detalle"><article class="contenedor-producto">
                <div class="bg-product producto sombra radius-10"><img src ='/images/ryzen-5.png' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>$ 12.500</div>
                    <div>Procesador AMD RYZEN 5 1600f 3.20Ghz</div>
            </article></a>
            <article class="contenedor-producto">
                <a href="/products/detalle"><div class="bg-product producto sombra radius-10"><img src ='/images/rx-5500-xt.png' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>$ 33.000</div>
                    <div>Placa de video AMD RX 5500 XT 8 Gb GDDR6</div></a>
            </article>
            <article class="contenedor-producto">
                <a href="/products/detalle"><div class="bg-product producto sombra radius-10"><img src ='/images/core-i3-9100f.png' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>$ 8.500</div>
                    <div>Procesador Intel core i3-9100F 4.2 Ghz turbo</div></a>
            </article>
        </section>
        <div class="separador titulo d-flex radius-10 bg-product sombra">
            <a href = '/'><i class="fas fa-credit-card footer-images borde"></i>  Pagá con tarjeta</a>
            <a href = '/'><i class="fas fa-money-bill-wave borde"></i>  En efectivo</a>
            <a href = '/'><i class="far fa-handshake borde"></i>  MercadoPago</a>
        </div>

    </main>

    <%- include('partials/footer') %>