<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main class="d-flex">
        <section class="d-flex">
            <div class="filter-container radius-10 d-flex sombra">
                <div class="filter-title"><h3>Filtros</h3></div>
                <div class="filter-box d-flex fw">
                    <p>Filtro 1</p>
                    <p>Filtro 2</p>
                    <p>Filtro 3</p>
                    <p>Filtro 4</p>
                </div>
            </div>
            <div class="cart-container mt-20 radius-10 d-flex fw sombra">
                <h1>Carrito de Compras</h1>
                <article>
                    <p>Procesador AMD Ryzen 9 3950X 4.7GHz Turbo AM4</p>
                    <img src="/images/promo-ryzen5-disco.jpg" alt="">
                </article>
                <article>
                    <p>Placa de Video ASUS GeForce RTX 2080Ti 11GB</p>
                    <img src="/images/rtx-2080.jpg" alt="">
                </article>
                <article>
                    <p>Procesador AMD Ryzen 9 3950X 4.7GHz Turbo AM4</p>
                    <img src="/images/promo-ryzen5-disco.jpg" alt="">
                </article>
                <article>
                    <p>Placa de Video ASUS GeForce RTX 2080Ti 11GB</p>
                    <img src="/images/rtx-2080.jpg" alt="">
                </article>
                <article>
                    <p>Procesador AMD Ryzen 9 3950X 4.7GHz Turbo AM4</p>
                    <img src="/images/promo-ryzen5-disco.jpg" alt="">
                </article>
            </div>
            <div class="payment-container mt-20 d-flex">
                <div class="payment-box cart-container radius-10 d-flex fw sombra">
                    <p>Total precio especial: $150.000</p>
                    <p>Precio de lista: $180.000</p>
                    <p>Hasta 12 cuotas sin interés</p>
                    <div class="envio-container">
                        <div class="cod-pos d-flex">
                            <input id="cod-pos" name="cod-pos" type="text">
                            <label for="cod-pos">Código Postal</label>
                        </div>
                        <button>Calcular Envío</button>
                    </div>
                </div>
                <div class="payment-box cart-container radius-10 d-flex sombra">
                    <button>COMPRAR EN UN PAGO</button>
                    <button>COMPRAR EN CUOTAS</button>
                    <button>SEGUIR COMPRANDO</button>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>