<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <article class="articulo">
                <img src="/images/products/pc-gamer.png">
        </article>
        <div>
            <p>PC Gamer de entrada</p>
            <p>Precio: $ 52.500</p>
            <p>Computadora con componentes de gama media, excelente para introducirse en el mundo de los videojuegos. Cuenta con un procesador core i3-9100F de 4 núcleo y cuatro hilos a 3.6 Ghz de base y 4.2 Ghz turbo. Con 8 Gb de memoria ram DDR4 a 2666 Ghz en 2 módulos de 4 Gb. Un disco sólido SSD adata de 240 Gb, una fuente certificada de 550 watt y Una placa de video Geforce GTX-1650 super de 4 Gb. Todos estos magníficos componentes dentro de un Gabinete Deepcool MATREXX 55 V3 ADD-RGB 3F Black, con una refrigeración de primer nivel para mantener los componentes funcionando a tope sin altas temperaturas.</p>
            <p><button type="submit">COMPRAR</button>
        </div>
    </main>

    <%- include('../partials/footer') %>
