<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
        <article class="articulo">
                <img src="/images/pc-gamer.jpg">
        </article>
        <div>
            <p>PC Gamer Ultra 4K</p>
            <p>Precio: USD 1200</p>
            <p>Descripción: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis fugiat harum excepturi molestiae aliquid laudantium unde atque quas similique ullam illo quasi odio commodi, porro eos quisquam magnam dolor odit!</p>
            <p><button type="submit">COMPRAR</button>
        </div>
    </main>

    <%- include('../partials/footer') %>
