<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main class="mtopbottom-10 bg-main radius-10 p-20 sombra">

        <div class="titulo">
            Ofertas:
        </div>
        <section class="d-flex">
            <a href="/products/detalle"><article class="contenedor-producto">
                <div class="bg-product producto sombra radius-10"><img src ='/images/products/promo-ryzen5-disco.png' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>$ 17.770</div>
                    <div>Kit Procesador AMD RYZEN 5 2600 3.90Ghz</div>
            </article></a>
            <article class="contenedor-producto">
                <a href="/products/detalle"><div class="bg-product producto sombra radius-10"><img src ='/images/products/rtx-2080.png' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>$ 110.770</div>
                    <div>Placa de video Geforce RTX 2080 11 Gb DDR6</div></a>
            </article>
            <article class="contenedor-producto">
                <a href="/products/detalle"><div class="bg-product producto sombra radius-10"><img src ='/images/products/pc-gamer.png' alt = ""/>
                    <div class="van">
                        <i class="fas fa-shuttle-van van borde"></i>
                    </div>
                    <div>$ 52.500</div>
                    <div>Computadora gamer de entrada, core i3-9100f, placa da video GTX-1650 super</div></a>
            </article>
        </section>
        <div class="separador titulo d-flex radius-10 bg-product sombra">
            <a href = '/'><i class="fas fa-credit-card footer-images borde"></i>  Pagá con tarjeta</a>
            <a href = '/'><i class="fas fa-money-bill-wave borde"></i>  En efectivo</a>
            <a href = '/'><i class="far fa-handshake borde"></i>  MercadoPago</a>
        </div>

    </main>

    <%- include('../partials/footer') %>