html {
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration-line: none;
}
 .logo{
    height: 20vh;
 }
.bg-principal{
    background-color: #2e3047;
}

.bg-verdeclaro{
    background-color: #3d8c95;
}

.bg-product{
    background-color: #b8bbc9;
}

nav {
    padding: 5px;
    margin-bottom: 10px;
}
.separador-nav{
    border-right: 3px solid #2e3047;
    padding-right: 70px;
}

.fw-bolder{
    font-weight: bolder;
}


.buscador{
    height: 40px;
    width: 60%;
    font-size: 16px;
    border: 0px;
}

.changuito{
    height: 30px;
    background-color: #9798a3;
    width: 6%;
    padding: 5px;
}

.barra-nav{
    margin-top: 10px;
    height: 50px;
    font-size: 25px;
    justify-content: space-between;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.d-wrap{
    flex-wrap: wrap;
}

.radius-5{
    border-radius: 5px;
}

.radius-10{
    border-radius: 10px;
}

.mtopbottom-10{
    margin: 10px 0px;
}

.mcostados-5{
    margin: 0px 5px;
}

.pcostados-20{
    padding: 5px 20px;
}


.footer{
    padding:25px;
    position: relative;
    width: 25%;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 767px){
    .barra-nav{
        display: none;
    }
    .changuito{
        display: none;
    }
    .buscador{
        width: 50%;
        align-items: center;
    }
}