.titulo{
    padding: 10px;
    font-size: 24px;
    color: white;
}

.p-20{
    padding: 20px;
}
.bg-main{
    background-color: #707793;
}

.banner-principal {
    margin-top: 5px;
    display: block;
    width: 100%;
    background-size: 100% 100%;
    animation: banner 20s infinite;
}

.banner-principal img{
    width: 100%;
}

.producto img{
    width: 100%;
}

.producto{
    padding: 10px;
    font-size: 16px;
    margin: 3%;
}

.separador {
    margin: 0px 10px;
}

.borde {
    border-radius: 50%;
    border: 2px solid #2e3047;
    padding: 10px;
    display: inline-block;
}

.sombra {
    -webkit-box-shadow: 6px 3px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 3px 11px 0px rgba(0,0,0,0.75);
box-shadow: 6px 3px 11px 0px rgba(0,0,0,0.75);
}

.contenedor-producto :hover{
    width: 101%;
    height: 101%;
    z-index: 5;
}

@media (max-width: 767px){
.d-flex {
    flex-wrap: wrap;
    }
}