<%- include('../partials/head') %>

    <header class="header-mensaje">
        <h1 class="mensaje">Hey, no encontramos ningun usuario con ese email.</h1>
        <h1 class="mensaje">Haz click en este texto para registrarte.</h1>
        <p class="face">:(</p>
    </header>