<%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <main class="d-flex radius-10 fw sombra">
        <section class="d-flex perfil-nav ">
            <a href="">Mi Cuenta</a>
            <a href="">Privacidad</a>
            <a href="">Notificaciones</a>
            <a href="">Historial de Compras</a>
            <a href="">Mis tarjetas</a>
        </section>
        <section>
            <h1>Mi Cuenta</h1>
        </section>
    </main>

    <%- include('../partials/footer') %>