<%- include('../partials/head') %>
    <%- include('../partials/header') %>

    <main>
      <h1>Crea tu cuenta de usuario:</h1>
      <form action="/auth/registrar" method="POST">
        <p><input type="text" id="name" name="name" placeholder="Nombre y apellido"></p>
        <p><input type="email" id="email" name="email" placeholder="Email"></p>
        <p><input type="password" id="password" name="password" placeholder="Contrase&ntilde;a"></p>
        <p><input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmar contrase&ntilde;a"></p>
        <p><button type="submit">Registrar</button>
        <button type="reset">Cancelar</button></p>
      </form>
    </main>

    <%- include('../partials/footer') %>