:root {
    --main-bg-color: #2E3047; 
    --light-green: #3BBA9C;
    --dark-green:  #3D8C95;
    --dark-grey: #43455C;
    --white: #b8bbc9;
    --bg-container: #707793;
}  

main * {margin: 0px; padding: 0px; list-style: none;} 

main {
    margin: 20px 0;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

main section {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.cart-container {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-container);
    padding: 3%;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.cart-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

main article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 10px 8px 10px;
}

main article p {
    width: 60%;
    background-color: var(--white);
    color: black;
    border-radius: 10px;
    padding: 5%;
}

.prod-info {
    display: none;
    padding: 2%;
    box-sizing: border-box;
    height: 150px;
    width: 70%;
}

main article img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0 20px;
}

.amounts {
    flex-direction: row;
    align-items: center;
}

.sumar-restar {
    flex-direction: column;
    align-items: center;
}

.amounts button  {
    margin: 5px 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.amounts p {
    text-align: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.eliminar {
    display: none;
    margin-left: 10px;
}

/* --------------------------------------------------------------- */

.payment-container {
    flex-direction: column;
    width: 100%;
}

.payment-box {
    background-color: var(--bg-container);
    padding: 4%;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-direction: column;
}

.payment-box p {margin-bottom: 10px;}
.envio-container{display: block;}

.cod-pos {
    justify-content: start;
    align-items: center;
    margin: 10px 0;
}

.cod-pos input{
    border-radius: 8px;
    width: 50px;
    padding: 10px 5px;
    margin-right: 10px;
}

.payment-box button {
    background-color: var(--main-bg-color);
    color: white;
    border-radius: 8px;
    padding: 10px 5px;
    margin: 10px 0;
}

 @media (min-width:426px){
    .cart-container {width: 100%; box-sizing: border-box;}
    .cart-container h1 {font-size: 3em;}
    main section p {font-size: 16px}
    .prod-info {display: block;}

    .eliminar{display: block;}
    
    .envio-container {display: flex;}
    .cod-pos {
        justify-content: flex-start;
        align-items: center;
    }
    .cod-pos * {
        margin-right: 10px;
    }
 }

 @media (min-width:767px){
    .payment-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .payment-box {
        font-size: 1.5em;
        /* margin: 0 30px; */
        width: 40%;
    }
 }