
main{
    display: flex;
    flex-direction: row;
    width: 1230px;
    background-color: #3d8c95;
    border-radius: 5px;
    border: 0px;
    margin-top: 20px;

}

.articulo img{
    width: 320px;
    height: 320;
    margin: 20px;
    border-radius: 5px;
}